.Button {
    background-color: transparent;
    border: 1px solid #524949;
    margin-top: 0.5rem;
}

.Menu {
    color:#000000
}

.Nav {
    border-radius: 10px;
}
// .Header {
//     &.inner-thick-white {
//       box-shadow: inset 0 0 0 10px rgb(14, 12, 12);
      
//     }
//   }
  
  .text-outline {
    color: rgba(255, 255, 255, 0.8);
    -webkit-text-stroke: 1px rgb(67, 58, 58); 
  }
  
  
  